Integración de Aplicaciones/Tareas/portafolio2/Ejercicio 2 - Soap - CLI/info.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/info"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.example.org/info">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/info">
      <xsd:element name="getMemRequest" type="xsd:string"/>
      <xsd:element name="getMemResponse" type="xsd:string"/>
      <xsd:element name="getCpusRequest" type="xsd:string"/>
      <xsd:element name="getCpusResponse" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getMemRequest">
    <wsdl:part name="parameters" element="tns:getMemRequest"/>
  </wsdl:message>
  <wsdl:message name="getMemResponse">
    <wsdl:part name="parameters" element="tns:getMemResponse"/>
  </wsdl:message>
  <wsdl:message name="getCpusRequest">
    <wsdl:part name="parameters" element="tns:getCpusRequest"/>
  </wsdl:message>
  <wsdl:message name="getCpusResponse">
    <wsdl:part name="parameters" element="tns:getCpusResponse"/>
  </wsdl:message>
  <wsdl:portType name="InfoPortType">
    <wsdl:operation name="getMem">
      <wsdl:input message="tns:getMemRequest"/>
      <wsdl:output message="tns:getMemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCpus">
      <wsdl:input message="tns:getCpusRequest"/>
      <wsdl:output message="tns:getCpusResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoBinding" type="tns:InfoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMem">
      <soap:operation soapAction="http://www.example.org/info/getMem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCpus">
      <soap:operation soapAction="http://www.example.org/info/getCpus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoService">
    <wsdl:port binding="tns:InfoBinding" name="InfoPort">
      <soap:address location="http://localhost:8000/info"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>